---
layout: base.njk
section: contact
---
<div class="page-container">
  <h1>{{ title }}</h1>
  
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}

  <hr/>
  {{ layoutContent | safe }}

  {% include "partials/form.njk" %}

<hr><p></p>
  <div class="hero__body"><p>Grazie! 👋<br></p>
    <a class="hero__link" href="/">← Torna alla home</a>
  </div>

</div>

