---
layout: base.njk
section: esperienza
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    {{title}}</h1>
  <hr/>
  {{ layoutContent | safe }}
  <nav>
    <a href="{{ '/esperienze/' | url }}">← Vai a tutte le esperienze</a>
  </nav>
</div>