---
layout: base.njk
section: servizio
---
<div class="page-container">
  <h1>
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    {{title}}</h1>
  <hr/>
  {{ layoutContent | safe }}
  <nav>
    <a href="{{ '/servizi/' | url }}">← Torna a tutti i servizi</a>
  </nav>
</div>