---
layout: base.njk
section: home
---
<div class="home-page">
	<div class="home-page__bg-square"></div>

  {# Hero #}
  <div class="hero">
    <div class="hero__col">
      <h1 class="hero__title gradient-text">{{ home.title }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}
          Hai un progetto? <a class="hero__link" href="/contatti">Parliamone!</a>
          <br>
          Oppure ci siamo conosciuti <a class="hero__link" href="/sigep">alla SIGEP?</a> 
        </div>
        
      {% endif %}
    </div>
    <div class="hero__col">
      {% image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
  </div>

</div>
<div class="page-container">
  
  {# Services #}
  <div class="list-header">
    <h2 class="list-header__title">Cosa possiamo fare insieme:</h2>
    <a class="btn btn--outline btn--sm" href="/servizi">Servizi</a>
  </div>


  {% from "macros/servicelist.njk" import servicelist %}
    {{ servicelist(
    services = collections.service | reverse, 
    limitsrv = 4
    ) }}
</div>    
<div class="home-page">

  {# Projects #}
  <!--
  <div class="list-header">
    <h2 class="list-header__title">Esperienze</h2>
    <a class="btn btn--outline btn--sm" href="/esperienze">Altre?</a>
  </div>
  {% from "macros/projectlist.njk" import projectlist %}
    {{ projectlist(
    projects = collections.project | reverse, 
    limitprj = 4
    ) }}
  -->
    

  {# Articles #}
  <!--
  <div class="list-header">
    <h2 class="list-header__title">Alcune riflessioni</h2>
    <a class="btn btn--outline btn--sm" href="/blog">Vai agli altri post</a>
  </div>
  {% from "macros/articlelist.njk" import articlelist %}
  {{ articlelist(
    articles = collections.post | reverse,
    show_tags = false,
    limit = 1
  ) }}
  -->
<hr>
  <div class="hero__body">
    <div class=""><p></p>
    <h2 class="list-header__title"><p>SIGEP</p></h2>
    <p>Se ci siamo conosciuti in fiera <strong><a href="/sigep" target="_blank">visita questa pagina</a></strong>.</p>
    ☎️ Cosa ne dici, <a class="hero__link" href="/contatti">organizziamo una chiamata?</a> 
    </div>
  </div>

</div>
